/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: Barlow, sans-serif;
  src: url("./assets/bootstrap/css2.css");
}

@font-face {
  font-family: Raleway, sans-serif;
  src: url("./assets/bootstrap/fonts/css2.css");
}
.font-c,
html,
body {
  font-family: Barlow;
}

::selection {
  color: #fff;
  background-color: #6f6c6c;
}


/* hide scroll bar */
::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

